<main>
  {{> header}}
  <section class="form-wrapper">

    <form id="signin" action="/signin" method="POST">
      <h1>Suit Up</h1>
      <div class="form-item">
        <label for="username">Name: </label>
        <input name="username" id="username" type="text" placeholder="Character Name">
      </div>
      <div class="form-item">
        <label for="password">Password: </label><input name="password" id="password" type="password"
          placeholder="Enter Password">
      </div>
      <button type="submit">Log In</button>

      {{#if message}}
      <div class="error-message">
        <i class="material-icons">info</i>{{ message }}</div>
      {{/if}}
    </form>

  </section>

</main>