<main>
  {{> header}}
  <section class="form-wrapper">
    <form id="signup" action="/signup" method="POST" enctype="multipart/form-data">
      <h1>Join Up</h1>
      <div class="form-item">
        <label for="username">Name </label>
        <input id="username" name="username" type="text" placeholder="Enter hero name">
      </div>
      <div class="form-item">
        <label for="password">Password </label>
        <input id="passwoes" name="password" type="password" placeholder="6 to 30 characters">
      </div>
      <div class="form-item">
        <label for="password2">Confirm Password </label>
        <input id="password2" name="password2" type="password" placeholder="Repeat 6 to 30 characters">
      </div>
      <div class="form-item">
        <label for="avatar">
          <img id="add-photo-icon" src="img/svg/add-photo.svg" alt="">
          Upload an Avatar
          </label>
        <input id="avatar" name="avatar" type="file" accept="image/*">
      </div>
      <button type="submit">SIGN UP</button>

      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </form>

  </section>


</main>