<nav>
  <div id="greeting">
    <p>Welcome, Guest!</p>
    <a href="/">
      <img src="/img/svg/cb-icon.svg" alt="" id="icon">
    </a>
    <a href="/signin" id="signin-link">Sign In</a>
  </div>
</nav>