<main>
  {{> header }}
  <section id="splash">
    <img src="img/svg/cb-logo-new.svg" alt="">
    <h1 id="subtitle">ALL YOUR FAVORITES, IN ONE PLACE</h1>

    <div id="auth-buttons">
      <a href="/signin">
        Sign In
      </a>
      <a href="signup">
        Sign Up
      </a>
    </div>

    <div id="char-buttons">
      <form action="/batman" method="POST">
        <button id="bat-button">
          <p>SIGN IN AS:</p>
          <p>BATMAN</p>
          <img src="img/svg/b-icon.svg" alt="">
        </button>
      </form>

      <form action="/geralt" method="POST">
        <button>
          <p>SIGN IN AS:</p>
          <p>GERALT</p>
          <img src="img/svg/w-icon.svg" alt="">
        </button>
      </form>

      <form action="/pearl" method="POST">
        <button>
          <p>SIGN IN AS:</p>
          <p>BLACK PEARL</p>
          <img src="img/svg/rd-icon.svg" alt="">
        </button>
      </form>
    </div>

    {{!-- <form action="/aquaman" method="POST">
      <button class="btn">Login as Aquaman</button>
    </form> --}}

  </section>

</main>