<nav>
  <a href="/">
    <img src="{{img.icon}}">
  </a>
  <a href="">
    <p>Sign In</p>
  </a>
  <a href="">
    <p>Sign Up</p>
  </a>
</nav>
<form action="/signin/" method="POST">
  <h1>Back to Battle</h1>
  <div class="form-item">
    <label for="name">Name: </label>
    <input name="name" id="name" type="text" placeholder="2 to 20 characters">
  </div>
  <div class="form-item">
    <label for="pass">Password: </label><input name="pass" id="pass" type="password" placeholder="6 to 30 characters">
  </div>
  <button type="submit">Log In</button>
</form>