@mixin positions($Xvalue, $Yvalue) {
  position: absolute;
  top: $Yvalue;
  left: $Xvalue;
  transform: translate(-$Xvalue, -$Yvalue);
}

#dashboard {
  color: white;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(black, 0.33);
  width: 66%;
  text-align: center;
  
  #db-left, #db-right {
    width: 50%;
    padding: 3% 0;
  }
  h1 {
    border-bottom: 0.15vw solid white;
    font-size: 2vw;
    padding: 1% 0;
  }
  #char-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #profile-img {
    border-radius: 100%;
    width: 66%;
  }

  a {
    cursor: pointer;
    margin: 5% auto;
    width: 66%;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(white, 0.33);
    font-size: 1.75vw;
    font-weight: 300;
    padding: 5% 0;
    text-align: left;
    i {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 2vw;
    }
  }
}

#form-wrapper {
  color: white;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(black, 0.33);
  width: 66%;
  text-align: center;

  label, input {
    font-size: 1vw;
  }

  [type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  label[for="avatar"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto 7.5% auto;
    background-color: rgba(white, 0.33);
    padding: 2.5%;
    cursor: pointer;
  }
  input:not([type="checkbox"]) {
    background: transparent;
    border-bottom: 0.15vw solid white;
    width: 66%;
    padding: 2% 0;
    text-align: center;
    color: white;
    margin-bottom: 3%;

    &[name="origin"] {
      width: 50%;
    }
  }
  h1 {
    border-bottom: 0.15vw solid white;
    font-size: 2vw;
    padding: 1% 0;
  }
  
  h2 {
    font-size: 1.5vw;
    padding: 1% 0;
  }

  #edit-basic {
    display: flex; 
    padding: 3% 0;

    label {
      display: block;
    }

    [for="edit-avatar"] {
      p {
        padding: 2.5% 0;
      }
    }

    #edit-left, #edit-right {
      width: 50%;
    }

    #current-photo {
      border-radius: 50%;
      width: 66%;
      cursor: pointer;
    }

    #edit-avatar {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .moral-wrapper {
      margin: 2% auto;
      position: relative;
      background-color: rgba(white, 0.33);
      width: 66%;

      #morality {
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        padding: 2.5% 5%;
        color: white;
        font-size: 1vw;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      &::after {
          font-family: 'Material Icons';
          content: "keyboard_arrow_down";
          @include positions(95%, 50%);
          font-size: 2vw;
          pointer-events: none;
        }
      option {
        color: black;
      }
    }

    textarea[name="bio"] {
      width: 66%;
      margin-top: 2.5%;
      padding: 3%;
      font-size: 1vw;
    }
  }

  .checkboxes {
    .group {
      padding: 2.5%;
      display: flex;
      justify-content: center;

      [type="checkbox"]:checked + label img {
        opacity: 1;
      }

      label {
       
        margin: 0 2.5%;
        width: 20%;
        cursor: pointer;
        &:hover img{
          opacity: 0.5;
        }
        p {
          font-size: 1.25vw;
        }

        img {
          border: 1px solid white;
          width: 100%;
          opacity: 0.25;
          transition: opacity 0.33s ease-out;
        }
      }
    }
  }

  [for="origin"] {
    display: block;
  }

  .first-a {
    padding-top: 3%;
  }

  #story-link {
    padding: 2.5% 0;
    font-size: 1.25vw;

    a {
      padding: 2%;
      align-items: center;
      color: white;
      background-color: rgba(white, 0.3);
      width: 20%;
      i {
        margin-right: 1%;
        font-size: 2vw;
        vertical-align: middle;
      }
    }
  }
  #update-profile {
    margin: 2.5% auto;
    background-color: rgba(white, 0.3);
    color: white;
    font-size: 1.5vw;
    padding: 1.5%;
  }
  
  #delete-link {
    padding: 2.5%;
    a {
    background-color: rgba(red, 0.3);
    color: white;
    font-size: 1.5vw;
    padding: 1.5%;
    }
    i {
      font-size: 1.5vw;
      vertical-align: middle;
    }
  }
}

#profile {
  color: white;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(black, 0.33);
  width: 66%;
  text-align: center;

  #basic-info {
    display: flex;
    text-align: left;
    
    #profile-left, #profile-right {
      width: 50%;
      padding: 4% 2%;
    }
    img {
      width: 55%;
      border-radius: 50%;
      margin-left: auto;
      display: block;
    }
    h1 {
      font-weight: normal;
      font-size: 2.5vw;
      padding-bottom: 2.5%;
    }
    p {
      font-weight: 300;
      font-size: 1.25vw;
      padding: 1.5% 0;
    }
  }

  #skills {
    .group {
      display: flex;
      justify-content: center;
    }
    .one-skill {
      width: 20%;
    }

    img {
      width: 100%;
    }
    p {
      font-weight: 300;
      font-size: 1.25vw;
    }
  }
}
