<h1>Post Area</h1>


<form action="/posts" method="POST">


  <p>Speak your mind here...</p>
  <textarea name="message" cols="40" rows="10"></textarea>

  <button>Submit Post</button>

</form>


{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}